<p id="notice"><%= notice %></p>
<div class="main-container">
  <%= render 'sidebar' %>
  
  <section class="main">
    <div class="post-card">
        <div class="post-user-container">
          <div class="post-user">
            <img class="post-user-photo" src="https://i.pinimg.com/originals/51/f6/fb/51f6fb256629fc755b8870c801092942.png">
            <div class="post-user-name">
              <p><%= @post.user.name %></p>
              <p class="post-time"><%= @post.created_at.strftime("%l:%M%p %d %b") %>
            </div>
          </div>
          <i class="fa fa-ellipsis-h"></i>
        </div>
        <p class="post-content"><%= @post.content %></p>
        <div class="bottom-bar">
          <div class="like">
            <p class="like-count"><%= @post.likes.length %></p>
            <% like_found = false %>
            <% @post.likes.each do |like| %>
              <% if like.user.id == current_user.id %>
                <%= link_to '<i class="fas fa-heart unlike-button"></i>'.html_safe, like, method: :delete %>
                <% like_found = true %>
                <% break %>
              <% end %>
            <% end %>
            <%= render 'like', like: @like, post: @post if !like_found%>
          </div>
          <%= link_to '<i class="fas fa-comment comment-button"></i>'.html_safe, post_path(@post) %>
        </div>
        <div class="comments">
          <% @post.comments.each do |comment| %>
            <div class="comment">
              <img class="comment-user-photo" src="https://i.pinimg.com/originals/51/f6/fb/51f6fb256629fc755b8870c801092942.png">
              <p><%= comment.user.name %></p>
              <p><%= comment.created_at.strftime("%l:%M%p %d %b") %>
              <p><%= comment.content %></p>
            </div>
          <% end %>
        </div>
        <div class="post-comment">
          <%= render 'comment' %>
        </div>
      </div>
  </section>
</div>
